<component name="ArtifactManager">
  <artifact type="war" name="SpringMVCImplementsControllerInterfaceWebApp:war">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVCImplementsControllerInterfaceWebApp_war</output-path>
    <root id="archive" name="SpringMVCImplementsControllerInterfaceWebApp_war.war">
      <element id="artifact" artifact-name="SpringMVCImplementsControllerInterfaceWebApp:war exploded" />
    </root>
  </artifact>
</component>